h1, h2, h3{
    /* Font */
    font-weight: 700;
    line-height: 1.1;

    /* Spacing */
    margin-top: 0;
}

p{
    /* Spacing */
    margin-top: 0;
}

a, a:visited, a:active{
    /* Text */
    text-decoration: none;
}