{% extends 'index.html' %}

<!-- Tab Title -->
{% block tab_title %}Samadas Salon - Gallery{% endblock %}

<!-- Body Content -->
{% block body_content %}
<div class="gallery">
    <div class="section-header">
        <h1>Gallery</h1>
        <p>View our gallery of work to inspire your next cosmetic choice and as an example of our detailed work.</p>
    </div>
    {% load static %}
    <div class="container cards-container">
        <div class="row p-4 gallery-lg">
            <div class="col-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-1.jpg' %}"
                        alt="Nails-Example-One">
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-2.jpg' %}"
                        alt="Nails-Example-Two">
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-3.jpg' %}"
                        alt="Nails-Example-Three">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-4.jpg' %}"
                        alt="Nails-Example-Four">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-5.jpg' %}"
                        alt="Nails-Example-Five">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/spa-gallery.jpg' %}"
                        alt="Spa">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-1.jpg' %}"
                        alt="Lashes-Example-One">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-2.jpg' %}"
                        alt="Lashes-Example-Two">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-3.jpg' %}"
                        alt="Lashes-Example-Three">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/products-gallery.jpg' %}"
                        alt="Products">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/10-voucher.jpg' %}"
                        alt="Voucher 10">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/15-voucher.jpg' %}"
                        alt="Voucher 15">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/20-voucher.jpg' %}"
                        alt="Voucher 20">
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/50-voucher.jpg' %}"
                        alt="Voucher 50">
                </div>
            </div>
        </div>
        <div class="row gallery-sm">
            <div class="col-12">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-1.jpg' %}"
                        alt="Nails-Example-One">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-2.jpg' %}"
                        alt="Nails-Example-Two">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-3.jpg' %}"
                        alt="Nails-Example-Three">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-4.jpg' %}"
                        alt="Nails-Example-Four">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/nails-gallery-5.jpg' %}"
                        alt="Nails-Example-Five">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/spa-gallery.jpg' %}"
                        alt="Spa">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-1.jpg' %}"
                        alt="Lashes-Example-One">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-2.jpg' %}"
                        alt="Lashes-Example-Two">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/lashes-3.jpg' %}"
                        alt="Lashes-Example-Three">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/products-gallery.jpg' %}"
                        alt="Products">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/10-voucher.jpg' %}"
                        alt="Voucher 10">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/15-voucher.jpg' %}"
                        alt="Voucher 15">
                </div>
            </div>
            <div class="col-12 mt-4 mb-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/20-voucher.jpg' %}"
                        alt="Voucher 20">
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card shadow-lg">
                    <img class="card-img-top work-example" src="{% static 'images/gallery/50-voucher.jpg' %}"
                        alt="Voucher 50">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}