.gallery{
    background-color: #D4F6CC !important;
    text-align: center !important;
    padding: 3rem 1rem 1rem 1rem;
}

.section-header{
    margin: auto !important;
    text-align: center !important;
    padding-bottom: 2rem !important;
    color: #6D8B74 !important;
}

.gallery-sm{
    display: none;
}