.about-wrapper{
    width: 100%;
    height: auto;
    background: url('../../images/about-background.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    color: #FFFFFF !important;
}

.about-section-header{
    margin: auto !important;
    text-align: center !important;
    margin-bottom: 2rem !important;
    background: linear-gradient(to right, #fff 0%, #6D8B74 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-img{
    border-radius: 1rem !important;
}